In [2]:
import pandas as pd
import os
import glob

In [6]:
# get current working directory and split
ls = os.getcwd().split(os.sep)
print(ls)

['c:', 'CMS-DE-SynPuf-VB', 'notebooks']

In [16]:
# construct paths to subdirectories in downloads\beneficiary_summaries using list from previous cell
path_bs_2008 = ls[0] + os.sep + 'CMS-DE-SynPuf-VB' + os.sep + 'downloads' + os.sep + 'beneficiary_summaries' + os.sep + '2008' + os.sep
path_bs_2009 = ls[0] + os.sep + 'CMS-DE-SynPuf-VB' + os.sep + 'downloads' + os.sep + 'beneficiary_summaries' + os.sep + '2009' + os.sep
path_bs_2010 = ls[0] + os.sep + 'CMS-DE-SynPuf-VB' + os.sep + 'downloads' + os.sep + 'beneficiary_summaries' + os.sep + '2010' + os.sep

In [23]:
# use glob to filter out the files in each subdirectory with the extension .csv
all_bs_2008_files = glob.glob(os.path.join(path_bs_2008,'*.csv'))
all_bs_2009_files = glob.glob(os.path.join(path_bs_2009,'*.csv'))
all_bs_2010_files = glob.glob(os.path.join(path_bs_2010,'*.csv'))

# create a consolidated df for each year
bs_2008_df = pd.concat([pd.read_csv(bs_2008_file) for bs_2008_file in all_bs_2008_files])
bs_2009_df = pd.concat([pd.read_csv(bs_2009_file) for bs_2009_file in all_bs_2009_files])
bs_2010_df = pd.concat([pd.read_csv(bs_2010_file) for bs_2010_file in all_bs_2010_files])

# leverage separate dfs to add YEAR column as instructed
bs_2008_df['YEAR'] = '2008'
bs_2009_df['YEAR'] = '2009'
bs_2010_df['YEAR'] = '2010'

# create list with all dfs
bs_ls = [bs_2008_df, bs_2009_df, bs_2010_df]

# use pd.concat to merge the dfs in the list
merged_bs_df = pd.concat(bs_ls, ignore_index=True)

# display 
display(merged_bs_df)

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,BENE_ESRD_IND,SP_STATE_CODE,BENE_COUNTY_CD,BENE_HI_CVRAGE_TOT_MONS,BENE_SMI_CVRAGE_TOT_MONS,...,MEDREIMB_IP,BENRES_IP,PPPYMT_IP,MEDREIMB_OP,BENRES_OP,PPPYMT_OP,MEDREIMB_CAR,BENRES_CAR,PPPYMT_CAR,YEAR
0,00013D2EFD8E45D1,19230501,NaN,1,1,0,26,950,12,12,...,0.0,0.0,0.0,50.0,10.0,0.0,0.0,0.0,0.0,2008
1,00016F745862898F,19430101,NaN,1,1,0,39,230,12,12,...,0.0,0.0,0.0,0.0,0.0,0.0,700.0,240.0,0.0,2008
2,0001FDD721E223DC,19360901,NaN,2,1,0,39,280,12,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2008
3,00021CA6FF03E670,19410601,NaN,1,5,0,6,290,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2008
4,00024B3D2352D2D0,19360801,NaN,1,1,0,52,590,12,12,...,0.0,0.0,0.0,30.0,40.0,0.0,220.0,80.0,0.0,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6760515,FFFB2D0ED0E52160,19460901,NaN,2,1,Y,4,590,12,12,...,0.0,0.0,0.0,350.0,140.0,0.0,1230.0,390.0,10.0,2010
6760516,FFFC020559E4F5B7,19311101,NaN,2,1,0,23,620,12,12,...,0.0,0.0,0.0,0.0,0.0,0.0,860.0,350.0,0.0,2010
6760517,FFFE39796B08C919,19400801,NaN,1,1,0,39,560,12,12,...,0.0,0.0,0.0,0.0,0.0,0.0,120.0,40.0,0.0,2010
6760518,FFFE4E347796686D,19330101,NaN,1,1,Y,50,20,12,12,...,10090.0,1100.0,0.0,0.0,0.0,0.0,670.0,220.0,0.0,2010
6760519,FFFFEE90E1B4D0DF,19361201,NaN,1,1,0,42,220,12,12,...,0.0,0.0,0.0,1600.0,530.0,0.0,2340.0,910.0,0.0,2010

In [32]:
print("Total rows in 2008 consolidated beneficiary summary dataframe: %2d" % (len(bs_2008_df))) # should be 2,326,856 per 
                                                                                                # the assignment document, is consistent
print("Total rows in 2009 consolidated beneficiary summary dataframe: %2d" % (len(bs_2009_df))) # should be 2,291,320 per 
                                                                                                # the assignment document, is consistent
print("Total rows in 2010 consolidated beneficiary summary dataframe: %2d" % (len(bs_2010_df))) # should be 2,255,098 per 
                                                                                                # the assignment document, missing 112,754 rows
                                                                                                # and we know 2010 sample 1 data is inaccessible 
                                                                                                # due to the URL error

Total rows in 2008 consolidated beneficiary summary dataframe: 2326856
Total rows in 2009 consolidated beneficiary summary dataframe: 2291320
Total rows in 2010 consolidated beneficiary summary dataframe: 2142344

In [31]:
# let's see the average length of 2010 dfs, rounded to two decimal places, to see if this makes sense
avg_2010 = sum([len(pd.read_csv(bs_2010_file)) for bs_2010_file in all_bs_2010_files]) / len(all_bs_2010_files)
print("Average length of 2010 beneficiary summary dfs: %5.2f" % (avg_2010))

Average length of 2010 beneficiary summary dfs: 112754.95

There are 112,754 missing rows, and the average length of the 2010 beneficiary summary dfs is very close to this value,
so we can reasonably assume we are missing an amount of data consistent with the likely size of the missing 2010 sample 1 data.